astroid==3.3.9
attrs==23.1.0
dill==0.3.7
dirhash==0.5.0
iniconfig==2.0.0
isort==5.12.0
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.5.0
pycodestyle==2.12.1
pydocstyle==6.3.0
pyfakefs==5.2.4
pyflakes==3.2.0
pylint==3.3.5
pytest==8.3.5
scantree==0.0.4
setuptools==78.1.1
six==1.16.0
snowballstemmer==2.2.0
tomlkit==0.12.1
typing_extensions==4.8.0
